<!DOCTYPE html>
<html>
    <head>
        <style>
            /* Your CSS styles go here */
            p {
                font-size: 16px;
                color: #3a02be;
                padding: 10px;
                margin: 40px;
            }

        </style>
    </head>  
    <head>
        <style>
            body {
                background-color: #8abd8c; /* Replace with your desired color code */
            }
        </style>
    </head> 
<body>
     <p>Save the children is a global non-profiy organisation .which was founded in the year xxxx.</p>
                     <p>Today , it is india's leading independent child rights NGO. As of xxxx 2019, we work in xx states of india . started in xxxx,in india, and registered as "BAL RAKSHA BHARAT", We have changed the lives of more than 10.1 millons of childrens .Save the childrens  belives that every child deserves the best chance for a bright future and that's why we are fiercely committed towards ensuring thet childrens not only survive,but thrive .we run programmes in the remotest corners of india and urban areas to provide quality education and healthcare..</p>
                                  <p>Protection from harm and abuse a life saving AID during emergency to childrens.Globally save the chidren is present in more than 80 countries and works to improve chidrens, the lifes of the most vulnerable children living there. Every child deserves the best change for a bright future.And that's why we are fiercely commited to ensureing chidren not only survive but thrive. Bold in our ambition and powerful in our care,we do whatever it takes to save the worlds children..</p>
                                              <p>In INDIA and around the world, save the children is on the ground-every day and in times of crisis . our pioneering programmes adresses children unique needs , giving them a healty start the opurtunity to learn and protection from harm.</p>
                                                           <p>When crisis streaks,we are always among the first to response and the last to leave.We are outspoken champions for childrens,ensuring their voice or heard and their issuies are given top priority.Drawing on a centuary of leading expreince we take on a toughest chalenges facing the hardest-to-reach children especially those unfairly excluded from the world's progress.We are proud to be the worlds leading expert on children, delivering lasting results for millions of vulnerable girls and boys..</p>
                                                                       <p>By saving the worlds children,we transform their lives and the future we share.</p>
</body>
    </html>