<!DOCTYPE html>
<html>
    <head>
        <style>
            /* Your CSS styles go here */
            p {
                font-size: 16px;
                color: #3a02be;
                padding: 10px;
                margin: 40px;
            }

        </style>
    </head>  
    <head>
        <style>
            body {
                background-color: #8abd8c; /* Replace with your desired color code */
            }
        </style>
    </head> 
<body>
            <h1>EVERGREEN</h1>

<h1>1. Commitment to the Mission:</h1>
   <div>- I will uphold and support the mission and values of [NGO Name].</div>
   <div>- I will actively contribute to the achievement of our organization's goals.</div>

<h1>2. Respect and Inclusivity:</h1>
<div>- I will treat all members, volunteers, and beneficiaries with respect and dignity.</div>
<div>- I will promote diversity, equity, and inclusivity within our organization.</div>

<h1>3. Ethical Behavior:</h1>
<div>- I will act with honesty, integrity, and transparency in all my interactions.</div>
<div>- I will follow all applicable laws and regulations.</div>

<h1>4. Collaboration and Teamwork:</h1>
<div>- I will work collaboratively with fellow members and volunteers.</div>
<div>- I will contribute positively to a respectful and supportive team environment.</div>

<h1>5. Confidentiality:</h1>
<div>- I will respect the confidentiality of sensitive information related to our organization and its beneficiaries.</div>


<h1>6. Fundraising and Donor Relations:</h1>
<div> - I will engage in ethical fundraising practices, ensuring that donor contributions are used for their intended purposes.</div>
<div>- I will respect donor privacy and preferences.</div>

<h1>7. Compliance:</h1>
<div>- I will adhere to the policies and guidelines set forth by [NGO Name].</div>
<div>- I will promptly report any concerns or violations of our code of conduct.</div>

<h1>8. Professionalism:</h1>
<div>- I will represent [NGO Name] in a professional and positive manner.</div>
<div>- I will continuously seek opportunities for personal and professional development.</div>

<h1>9. Termination of Membership:</h1>
<div>-  reserves the right to terminate the membership of individuals who violate this code of conduct.</div>

